.search-bar-control {
  background: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.search-bar-control input {
  border: none;
  outline: none;
  padding: 5px;
  width: 200px;
  font-size: 14px;
  border-radius: 3px;
}
