.route-item {
  border: 1px solid #939292;
  border-radius: 6px;
  padding: 10px;
  margin: 0;
}

.route-item:hover {
  background-color: #bebebe;
}

.route-item :nth-last-child(2) .next-icon {
  display: none;
}

.next-icon {
  padding: 0 2px 0 2px;
}

.route-point {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.route-selected {
  background-color: #dddddd;
}

.route-duration {
  padding: 0 8px 0 8px;
}

.route-times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 2px;
}

.transfer {
  color: #b2b2b2;
}

.search-button {
  border: none;
  padding: 8px;
  background-color: #dddddd;
  color: #1a1919;
  cursor: pointer;
}

.route-directions input {
  border: none;
  padding: 10px;
  border-radius: 4px;
}

@media(max-width: 480px) {
  .route-directions input {
    border: none;
    padding: 8px;
    border-radius: 2px;
  }
}
