.route-item {
  border: 1px solid #939292;
  border-radius: 6px;
  padding: 10px;
}

.route-item :nth-last-child(2) .next-icon {
  display: none;
}

.next-icon {
  padding: 0 2px 0 2px;
}

.route-duration {
  padding: 0 8px 0 8px;
}
