.sidebar-mobile {
  position: fixed;
  bottom: -50%; /* Sidebar is hidden initially */
  left: 0;
  width: 100%;
  height: 50%; /* Sidebar takes the bottom half of the screen */
  background-color: #eeeeee;
  color: #3b3b3b;
  transition: bottom 0.3s;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto; /* Make it scrollable */
}

.sidebar-mobile.open {
  bottom: 0; /* Slide the sidebar into view */
}

.sidebar-mobile-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  color: #3b3b3b;
  cursor: pointer;
}

.close-button:hover {
  color: #000000;
}

@media (min-width: 768px) {
  .sidebar-mobile {
    display: none; /* Hide the mobile sidebar on larger screens */
  }
}
